body {
    background-image: url("/static/casino_administrator_background.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content-wrapper {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Aggiungi uno sfondo opaco */
    border-radius: 10px; /* Aggiungi bordi arrotondati */
    overflow: hidden; /* Aggiungi questa proprietà */
    word-wrap: break-word; /* Aggiungi questa proprietà */
    min-height: 600px; /* Aggiungi questa proprietà per aumentare l'altezza del rettangolo */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word; /* Aggiungi questa proprietà */
}

th:nth-child(6), td:nth-child(6) {
    width: 200px; /* Imposta una larghezza maggiore per la colonna della data di registrazione */
    white-space: nowrap; /* Impedisce la rottura del testo */
    overflow: hidden; /* Nasconde il testo che trabocca */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione per il testo che trabocca */
}

.chart-container {
    margin-bottom: 20px;
    height: 500px; /* Aumenta l'altezza del contenitore del grafico */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    border: 1px solid red;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

audio#background-music {
    display: none;
}

/* Stili per il pulsante */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #1e90ff, #00bfff);
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background: linear-gradient(45deg, #00bfff, #1e90ff);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.btn.logout-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #ff6347, #ff4500);
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.btn.logout-btn:hover {
    background: linear-gradient(45deg, #ff4500, #ff6347);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn.logout-btn:active {
    transform: translateY(2px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}