body {
    background: radial-gradient(circle at bottom left, #E0FFFF, #0000CD);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 500px;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.input-container img {
    margin-right: 15px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

.btn {
    background-color: #1E90FF;
    color: white;
    padding: 20px 25px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
}

.btn:hover {
    opacity: 1;
}

h2 {
    font-size: 32px;
}

a {
    font-size: 18px;
}

.forgot-password-link {
    float: right;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: left;
}

.error-message-global {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    border: 1px solid red;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

input.error {
    border: 2px solid red;
}