body {
    background-image: url("/static/casino_interior.jpg");
    background-size: cover;
    background-color: rgba(36, 36, 36, 0.4);
    backdrop-filter: blur(7px);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.account-icon {
    position: fixed;
    top: 20px; /* Posiziona l'icona in cima alla pagina */
    right: 20px;
    width: 80px; /* Dimensione dell'icona */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-icon img {
    width: 100%; /* Dimensione dell'immagine all'interno del contenitore */
    height: 100%;
    border-radius: 50%;
    object-fit: cover; /* Assicura che l'immagine sia centrata */
}

.container {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.game {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game img {
    width: 100%;
    height: 150px; /* Altezza fissa per le immagini */
    object-fit: cover; /* Adatta l'immagine all'altezza fissa */
}

.game p {
    color: gold;
    margin: 10px 0; /* Spazio tra il testo e il pulsante */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Aggiunge un'ombra al testo */
    font-size: 20px; /* Aumenta la dimensione del testo */
}

.game button {
    margin-top: auto; /* Spinge il pulsante verso il basso */
    font-size: 14px; /* Riduce la dimensione del pulsante */
    padding: 8px 16px; /* Riduce il padding del pulsante */
}

.games button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

audio#background-music {
    display: none;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    border: 1px solid red;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-family: Arial, sans-serif;
    font-size: 16px; /* Riduce la dimensione del testo */
    width: 350px; /* Aumenta la larghezza del messaggio di errore */
    text-align: center;
}