body.poker-background {
    background-image: url('/static/texas_hold_em_table.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.deck {
    position: absolute;
    right: 20px;
}

#actions-panel {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

.card img {
    width: 50px;  /* Ridimensiona le carte */
    height: auto;
}

.card {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    border: 1px solid #000000;
    border-radius: 5px;
}