body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.casino-button {
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.casino-button:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2em; /* Aumenta la dimensione del testo */
}

th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}

.card-image {
    width: 100px; /* Imposta una larghezza fissa per tutte le carte */
    height: auto; /* Mantieni le proporzioni */
    border: none; /* Rimuovi il contorno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra per dare profondità */
    border-radius: 10px; /* Aggiungi angoli arrotondati */
}

strong {
    font-weight: bold;
}

ul {
    padding-left: 20px;
}

p {
    margin: 10px 0;
}