body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.casino-button {
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.casino-button:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2em; /* Aumenta la dimensione del testo */
}

th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}

.card-image {
    width: 100px; /* Imposta una larghezza fissa per tutte le carte */
    height: auto; /* Mantieni le proporzioni */
    border: none; /* Rimuovi il contorno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra per dare profondità */
    border-radius: 10px; /* Aggiungi angoli arrotondati */
}

strong {
    font-weight: bold;
}

ul {
    padding-left: 20px;
}

p {
    margin: 10px 0;
}

.fiches-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 1em; /* Ridotta leggermente la dimensione generale */
}

.fiches-table.small {
    width: 80%; /* Ridotta larghezza per renderla più compatta */
    font-size: 0.85em; /* Font più piccolo per integrarsi meglio */
    margin: 0 auto; /* Centrare la tabella */
}

.fiches-table th, .fiches-table td {
    border: 1px solid #000;
    padding: 5px; /* Margini interni più piccoli per compattezza */
    text-align: center;
}

.fiches-table th {
    background-color: #4CAF50;
    color: white;
    font-size: 0.9em; /* Intestazioni con font leggermente ridotto */
}

.fiches-table img {
    width: 40px; /* Ridotte le dimensioni delle immagini */
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fiches-table td span {
    font-weight: bold;
    font-size: 0.9em; /* Testo delle quantità ridotto */
    color: #333;
}

p {
    font-style: italic;
    font-size: 0.8em;
    color: #555;
    margin-top: 5px;
    text-align: center;
}