<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Texas Hold'em Poker</title>
        <link rel="stylesheet" href="static/game.css">
    </head>
    <body>
        <div class="opponent-hand">
            {% for i in range(enemy_cards_count) %}
                <img src="/static/card_images/card_back.png" alt="">
            {% endfor %}
            <p>L'avversario ha {{ enemy_cards_count }} carte</p>
        </div>
        <div class="deck">
            <form method="GET" action="/">
                <img src="/static/card_images/card_back.png" alt="">
                <input type="hidden" name="action" value="draw" />
                <input type="submit" value="Pesca dal mazzo" {% if not can_draw %} disabled {% endif %}/>
            </form>
        </div>
        <div class="played-card">
            {% if winner == "player" %}
                <p>Hai vinto!</p>
            {% elif winner == "opponent" %}
                <p>Hai perso...</p>
            {% endif %}
            <img src="/static/card_images/{{ last_played_card.seed }}/{{ last_played_card.value }}.png" alt="">
        </div>
        <div class="player-actions">
            <form method="GET" action="/">
                <input type="hidden" name="action" value="pass" />
                <input type="submit" value="Pass" {% if not can_pass %} disabled {% endif %}/>
            </form>       
        </div>
        <div>
            <form class="player-hand" method="POST" action="/">
                {% for card in player_cards %}
                    <input 
                        type="submit" 
                        value="{{ card.value + ' ' + card.seed }}" 
                        name="played_card" 
                        style="background-image: url('/static/card_images/{{ card.seed }}/{{ card.value }}.png')" 
                        {% if not can_play %} disabled {% endif %}>
                {% endfor %}
                <input type="hidden" name="action" value="play" />
            </form>
        </div>
    </body>
</html>